body {
  font-family: var(--mainfont);
}
/* start header*/

.header {
  padding: 57px 0;
}
header ul {
  display: flex;
  flex-wrap: wrap;
  gap: 35px;
}
.header .bar {
  display: none;
}

.header .list a {
  color: #0d0e43;
}
.header .list .active {
  color: var(--primary);
}
.search form {
  border: 3px solid #e7e6ef;
  border-radius: 5px;
  display: flex;
}
.search input {
  border: none;
  outline: none;
  width: 250px;
  padding: 9px;
}
.search button {
  border: none;
  outline: none;
  background-color: var(--primary);
  padding: 8px 13px;
}

@media screen and (max-width: 1200px) {
  .header .list,
  .header .search {
    display: none;
  }
  .header .bar {
    display: block;
  }
}
/* end header */
/* start product */
.featured-product {
  padding: 50px 0;
}
.featured-product .row {
  justify-content: flex-start;
  gap: 15px;
}
.featured-product h2 {
  margin-bottom: 30px;
  font-size: 42px;
  font-family: var(--secondfont);
  color: #1a0b5b;
}
.featured-product .product {
  /* flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 300px; */
  flex: 1 0 300px;
  box-shadow: 0px 4px 4px #00000040;
  border-radius: 5px;
}
.color {
  width: 14px;
  height: 4px;
  border-radius: 10px;
  border: none;
  outline: none;
  cursor: pointer;
}
.color-one {
  background-color: #05e6b7;
}
.color-two {
  background-color: #f701a8;
}
.color-three {
  background-color: #00009d;
  transition: all 0.8s;
}
.product .img {
  background-color: #f6f7fb;
  padding: 30px;
  position: relative;
}
.product img {
  width: 200px;
  height: 200px;
  object-fit: contain;
}
.product .icon {
  position: absolute;
  top: 18px;
  left: 15px;
  display: none;
  transition: all 1s;
}
.product .icon svg {
  fill: #1389ff;
  width: 25px;
  cursor: pointer;
}
.product .view-details {
  display: none;
  transition: all 1s;
}
.product .img a {
  margin-top: 10px;
}
.product-details {
  padding: 10px;
  transition: all 0.7s;
}
.product-details h3 {
  transition: all 0.8s;
}
.product-info span {
  transition: all 0.8s;
}
.product:hover .icon {
  display: block;
}

.product:hover .product-details {
  background-color: #2f1ac4;
  border-radius: 5px;
}
.product:hover .view-details {
  display: block;
}
.product:hover .product-details h3 {
  color: #fff;
}
.product:hover .color-three {
  background-color: #ffeac1;
}
.product:hover .product-info span {
  color: #fff;
}
/* end product */

/* start leatest product */
.leatest-products {
  padding: 50px 0;
}
.leatest-products h2 {
  color: #151875;
  font-size: 42px;
  font-family: var(--secondfont);
  margin-bottom: 25px;
}
.leatest-products nav {
  margin-bottom: 50px;
}
.leatest-products .list {
  gap: 60px;
}
.leatest-products nav a {
  color: #151875;
}
.leatest-products .active {
  color: var(--primary);
  text-decoration: underline;
}
.leatest-products .products {
  gap: 50px;
}
.leatest-products .product {
  flex: 1 0 350px;
  position: relative;
}
.product .img img {
  width: 100%;
}
.badge-sale {
  position: absolute;
  width: 110px;
  top: -40px;
  left: 20px;
  z-index: 10;
}
.badge-sale img {
  width: 100%;
}
.leatest-products .content {
  padding: 18px;
  font-family: var(--secondfont);
  color: #151875;
  padding-left: 0;
}
.leatest-products .content .old-price {
  font-size: 11px;
  text-decoration: line-through;
  color: var(--primary);
}
/* end leatest product */
/* Start newslater*/
.newslater {
  background-image: url(./img/public/newslater.webp);
  padding: 175px 0;
  text-align: center;
  /* background-attachment: fixed; */
}
.newslater h2 {
  margin-bottom: 30px;
  font-size: 35px;
  color: #151875;
  font-family: var(--secondfont);
}
.shop-btn {
  transition: all 0.5s;
}
.shop-btn:hover {
  background-color: #151875;
}
/* End newslater */

/* Start Clients */
.clients {
  padding: 50px 0;
}
.clients .row {
  flex-wrap: nowrap;
  overflow-x: auto;
}
.clients .logo {
  width: calc((100% - 75px) / 6);
}
.clients img {
  width: 150px;
  height: 150px;
}

@media screen and (max-width: 900px) {
  .clients .logo {
    width: calc((100% - 30px) / 3);
  }
}
@media screen and (max-width: 500px) {
  .clients .logo {
    width: calc((100% - 15px) / 2);
  }
}
/* End Clients */

/* start footer */

.footer {
  background-color: #eeeffb;
  padding: 50px 0;
}

.footer nav a,
.footer .address {
  color: #8a8fb9;
}
.left-side {
  align-items: flex-start;
  width: calc((100% - 30px) / 2);
}
.footer .search button {
  border-radius: 3px;
  padding: 8px 10px;
}
.rigth-side {
  width: calc((100% - 30px) / 2);
  gap: 92px;
}
.footer .rigth-side .row {
  gap: 45px;
  align-items: flex-start;
}
.footer-item {
  gap: 40px;

  width: calc((100% - 90px) / 3);
}
@media screen and (max-width: 992px) {
  .footer .left-side,
  .footer .rigth-side {
    width: 100%;
  }
}
@media screen and (max-width: 576px) {
  .footer {
    text-align: center;
  }
  .footer-item {
    width: 100%;
  }
}
/* end footer */
