body {
  font-family: var(--mainfont);
}
/* start header*/

.header {
  padding: 57px 0;
}
header ul {
  display: flex;
  flex-wrap: wrap;
  gap: 35px;
}
.header .bar {
  display: none;
}

.list a {
  color: #0d0e43;
}
.header .active {
  color: var(--primary);
}
.search form {
  border: 3px solid #e7e6ef;
  border-radius: 5px;
  display: flex;
}
.search input {
  border: none;
  outline: none;
  width: 250px;
  padding: 9px;
}
.search button {
  border: none;
  outline: none;
  background-color: var(--primary);
  padding: 8px 13px;
}

@media screen and (max-width: 1200px) {
  .list,
  .header .search {
    display: none;
  }
  .header .bar {
    display: block;
  }
}
/* end header */

/* Start Clients */
.clients {
  padding: 50px 0;
}
.clients .row {
  flex-wrap: nowrap;
  overflow-x: auto;
}
.clients .logo {
  width: calc((100% - 75px) / 6);
}
.clients img {
  width: 150px;
  height: 150px;
}

@media screen and (max-width: 900px) {
  .clients .logo {
    width: calc((100% - 30px) / 3);
  }
}
@media screen and (max-width: 500px) {
  .clients .logo {
    width: calc((100% - 15px) / 2);
  }
}
/* End Clients */

/* start footer */

.footer {
  background-color: #eeeffb;
  padding: 50px 0;
}

.footer nav a,
.footer .address {
  color: #8a8fb9;
}
.left-side {
  align-items: flex-start;
  width: calc((100% - 30px) / 2);
}
.footer .search button {
  border-radius: 3px;
  padding: 8px 10px;
}
.rigth-side {
  width: calc((100% - 30px) / 2);
  gap: 92px;
}
.footer .rigth-side .row {
  gap: 45px;
  align-items: flex-start;
}
.footer-item {
  gap: 40px;

  width: calc((100% - 90px) / 3);
}
@media screen and (max-width: 992px) {
  .footer .left-side,
  .footer .rigth-side {
    width: 100%;
  }
}
@media screen and (max-width: 576px) {
  .footer {
    text-align: center;
  }
  .footer-item {
    width: 100%;
  }
}
/* end footer */
